:root {
    --blue: #3356A7;
    --yellow: #FBCC27;
    --green: #00A653;
}
body {
    width: 100vw; min-height: 99vh;
    background-color: var(--green);
    margin: 0;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

/*

    


*/
@media only screen and (min-width: 500px) {

    #top {
        width: 100vw; height: 330px;
        background-color: var(--yellow);
    }
    header {
        display: flex; flex-direction: row;
        width: 100vw; height: 104.55px;
    }
    header #headLogo {
        width: 150px;
    }
    nav {
        width: 100%; margin: 20px 0; font-weight: bold;
        right: 0; text-align: right; margin-right: 30px;
    }
    header nav ul { list-style: none; }
    header nav li { display: inline-block; }
    nav a {
        background-color: var(--blue); color: snow;
        padding: 6px 8px; margin: auto 4px;
        border-radius: 3px; font-style: italic; font-stretch: narrower;
    }

    #topLayer {
        display: flex; flex-direction: row;
        width: 75vw; height: 500px;
        position: fixed; top: 130px;
        background-color: transparent;
        z-index: 1; margin: 0 auto;
    }
    #topLayer #topLayerCan { height: 95%; margin-left: 50px; }
    #topLayer #topLayerBusy { width: 100%; height: inherit; }
}